@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-link {
  @apply px-2 py-1 font-medium text-neutral-500 hover:text-neutral-900 rounded-md hover:bg-neutral-100 transition-colors duration-200;
}

.mobile-navbar-link {
  @apply text-neutral-600 px-4 font-medium block py-3 hover:text-neutral-900 hover:bg-neutral-100 transition-colors duration-200;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}
